* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background: #181818;
    color: white;
    font-family: Roboto, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222222;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #565656;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d2d2d;
}

.titlebar {
    width: 100vw;
    height: 30px;
    background: #2D2C2C;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title img {
    height: 25px;
    margin-left: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.controls button {
    height: 30px;
    outline: none;
    border: none;
    width: 30px;
    -webkit-app-region: no-drag;
    background: transparent;
    transition: background 0.2s;
}

.controls button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.controls button img {
    height: 20px;
}

.controls .close:hover {
    background: rgba(255, 0, 0, 0.2);
}

.content {
    height: calc(100vh - 30px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.left-menu {
    height: 100%;
    width: 100%;
    max-width: 300px;
    background: #0e0e0e;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 2px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

.left-menu h1 {
    font-size: 30px;
    margin: 20px;
    font-weight: lighter;
}

.right-scrollable-content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 32px;
}

#content {
    padding-bottom: 128px;
}

#content > * {
    margin-bottom: 16px;
}

#content > *:first-child {
    margin-top: 0 !important;
}

#content h1 {
    margin-top: 1.5em;
    line-height: 1.75em;
    border-bottom: 1px solid gray;
}
#content h2 {
    margin-top: 1.5em;
    line-height: 1.65em;
    border-bottom: 1px solid gray;
}
#content h3 {
    margin-top: 1.5em;
    line-height: 1.5em;
}

#content p {
    line-height: 1.5em;
    color: #c4c4c4;
}

#content a {
    text-underline: none;
    outline: none;
    color: #467fdd;
    text-decoration: none;
}

#content code {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

#content table {
    border-collapse: collapse;
}

#content table, #content th, #content td {
    border: 1px solid white;
}

#content table th, #content table td {
    padding: 1em;
    color: #c4c4c4;
}

.long {
    height: 200vh;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu .menu-item {
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background 0.2s;
}

.menu .menu-item:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.menu .menu-item.active {
    background: rgba(255, 255, 255, 0.05);
}
